# Production Caddyfile

{$DOMAIN_NAME:domain.invalid} {
  encode gzip
	reverse_proxy web:3000
}

www.{$DOMAIN_NAME:domain.invalid} {
    redir https://{$DOMAIN_NAME}{uri} permanent
}

analytics.{$DOMAIN_NAME:domain.invalid} {
  encode gzip
  reverse_proxy umami:3000
}

status.{$DOMAIN_NAME:domain.invalid} {
  encode gzip
  reverse_proxy statping:8080
}

ok.{$DOMAIN_NAME:domain.invalid} {
  respond /health-check 200
}


api.{$DOMAIN_NAME:domain.invalid} {
    reverse_proxy server:3000

    header {
        -X-Powered-By
        -Server

        Strict-Transport-Security max-age=31536000;

        X-Frame-Options DENY

        X-XSS-Protection "1; mode=block"
    }
  
}

# I am now hosting multiple projects using the same vps
# so this section is for another project
# this solution is temporary, I will build a better one in future

{$DOMAIN_NAME_2:domain.invalid} {
  encode gzip
  reverse_proxy RAOweb:4321
}

www.{$DOMAIN_NAME_2:domain.invalid} {
    redir https://{$DOMAIN_NAME}{uri} permanent
}

analytics.{$DOMAIN_NAME_2:domain.invalid} {
  encode gzip
  reverse_proxy RAOumami:3001
}

ok.{$DOMAIN_NAME_2:domain.invalid} {
  respond /health-check 200
}
